.Sidebar {
    width: 15%;
    margin-right: 100px;
    background-color: #222222;
    border: 1px solid #262626;
    max-height: 400px;
    margin-top: 100px;

}
@media (max-width: 1200px) {
    .Sidebar {
        width: 20%; /* увеличить ширину боковой панели на 10% */
    }
}

@media (max-width: 768px) {
    .Sidebar {
        display: none
    }
}