.structure {
    display: flex;
    flex-direction: row;
    margin-top: 85px;
    width: 70%;

}

.dialogsList {
    display: flex;
    flex-direction: column;
    width: 20%;
    border-right: 1px solid white;
}

.messages {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    margin-left: 50px;
    margin-top: 10px;

}
