.Container {
    width: 1920px;
    max-width: 100%;
    display: block;
    position: relative;
    margin: 0 auto;
}

.Content {
    margin: 100px auto;
    display: flex;
    width: 60%;

}











